@use '../../../styles/_variables' as v;

.victoryContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background: v.$color-bg-gradient;
    color: v.$color-text-light;
    font-family: v.$font-family-primary;
    padding: 2rem 0;
    box-sizing: border-box;
    text-align: center;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    flex-grow: 1;
}

.winnerMessage {
    max-width: 95%;
    font-size: v.$font-size-4xl;
    font-weight: 700;
    color: v.$color-warning;
    text-shadow: 0 0 15px v.$color-warning, 0 0 5px v.$shadow-xl;
    margin: 0;
    animation: zoomIn 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.scoresContainer {
    background-color: v.$color-surface-dark;
    border: 1px solid v.$color-surface-primary;
    border-radius: v.$radius-sm;
    padding: 1.5rem;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 10px v.$shadow-md;
}

.score {
    font-size: v.$font-size-base;
    margin: 0.5rem 0;
    font-weight: 600;
    color: v.$color-text-light;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuButton {
    width: 80%;
    max-width: 340px;
    padding: 20px 0;
    font-size: v.$font-size-lg;
    font-family: v.$font-family-primary;
    font-weight: 700;
    color: v.$color-white;
    background-color: v.$color-success;
    border: none;
    border-radius: v.$radius-sm;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 5px 0 v.$color-success-dark;
    letter-spacing: 1.5px;
}

.menuButton:hover {
    filter: brightness(1.1);
}

.menuButton:active {
    transform: translateY(3px);
    box-shadow: 0 2px 0 v.$color-success-dark;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
