@use '../../../styles/_variables' as v;

.nameLabel {
    color: v.$color-text-light;
    font-family: v.$font-family-primary;
    font-size: v.$font-size-2xl;
    font-weight: 700;
    text-align: center;
    text-shadow: 1px 1px 3px v.$shadow-md;
    letter-spacing: 1px;
}

.inputWrapper {
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

.inputFieldContainer {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
}

.nameInput {
    width: 100%;
    color: v.$color-white;
    background-color: v.$color-surface-dark;
    border: 1px solid v.$color-surface-primary;
    border-radius: v.$radius-sm;
    padding: 16px 24px;
    font-size: v.$font-size-base;
    font-family: v.$font-family-primary;
    box-shadow: inset 0 2px 4px v.$shadow-md;
    transition: all 0.2s ease;
    text-align: center;
}

.nameInput::placeholder {
    color: v.$color-text-muted;
    opacity: 0.8;
}

.nameInput:focus {
    outline: none;
    border-color: v.$color-success;
    box-shadow: inset 0 2px 4px v.$shadow-md, 0 0 10px v.$color-success;
}

.validationText {
    color: #c43939;
    font-size: v.$font-size-base;
    height: 1rem;
    transition: color 0.3s;
}

.validationText.valid {
    color: v.$color-success;
}

.shake {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    20%,
    60% {
        transform: translateX(-10px);
    }
    40%,
    80% {
        transform: translateX(10px);
    }
}
