@use '../../../styles/_variables' as v;
@use '../../../styles/_mixins' as m;

.statCard {
    background-color: v.$color-text-muted;
    color: v.$color-black;
    border-radius: v.$radius-sm;
    gap: 0.4rem;
    border: 1px solid #cbd5e0;
    box-shadow: 0 5px 15px v.$shadow-md, 0 8px 10px rgba(0, 0, 0, 0.15);
    @include m.flex-column-center;
    width: 7rem;
    height: 4.5rem;
    cursor: pointer;
    font-family: v.$font-family-primary;

    &.locked {
        background-color: v.$color-black;
        cursor: not-allowed;
        opacity: 0.3;
        background-image: linear-gradient(
                32deg,
                transparent 25%,
                rgba(185, 13, 13, 0.75) 47.5%,
                rgba(185, 13, 13, 0.75) 52.5%,
                transparent 52.5%
            ),
            linear-gradient(
                -32deg,
                transparent 25%,
                rgba(185, 13, 13, 0.75) 47.5%,
                rgba(185, 13, 13, 0.75) 52.5%,
                transparent 52.5%
            );
    }

    &.highlight {
        background-color: v.$color-accent-gold;
        color: v.$color-surface-darker;
        transform: scale(1.1);
        transition: all 0.2s ease-in-out;
        box-shadow: 0 0 20px 5px rgba(255, 215, 0, 0.6);
        border-color: #f6e05e;
    }

    @include m.desktop {
        width: 7rem;
        height: 4rem;
    }
}

.statName {
    font-size: 1rem;
    font-weight: 600;

    @include m.desktop {
        font-size: 0.8rem;
    }
}

.statValue {
    font-size: v.$font-size-base;
    font-weight: bold;
}
