@use "../../../styles/_variables" as v;

.outerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    min-height: 0;
    font-family: v.$font-family-primary;
}

.battleSection {
    width: 100%;
    height: 100%;
    background-color: v.$color-surface-dark;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 1;
}

.battleSectionWrapper {
    z-index: 1;
    border-bottom: 1px solid v.$color-surface-primary;
    border-top: 1px solid v.$color-surface-primary;
    flex: 2;
    background-color: v.$color-surface-dark;
    position: relative;
}

.showCurrentRoundImg {
    width: 20rem;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: slideInAndOut 3s ease-in-out forwards;
}

.fadeOut {
    animation: fadeOut 1.4s ease-in-out forwards;
}

@keyframes slideInAndOut {
    0% {
        transform: translate(100%, -50%);
        opacity: 0;
    }
    20% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    35% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1);
    }
    65% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    80% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100% {
        transform: translate(-250%, -50%);
        opacity: 0;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }
}
