.outerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    min-height: 0;
    font-family: "Jura", Arial, sans-serif;
}

.battleSection {
    width: 100%;
    height: 100%;
    background-color: #2d3748;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 1;
}

.battleSectionWrapper {
    z-index: 1;
    border-bottom: 1px solid #4a5568;
    border-top: 1px solid #4a5568;
    flex: 2;
    background-color: #2d3748;
}

.fadeOut {
    animation: fadeOut 1s ease-in forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }
}
