.outerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    min-height: 0;
    font-family: "Jura", Arial, sans-serif;
}

.battleSection {
    width: 100%;
    height: 100%;
    background-color: #2d3748;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 1;
}

.battleSectionWrapper {
    z-index: 1;
    border-bottom: 1px solid #4a5568;
    border-top: 1px solid #4a5568;
    flex: 2;
    background-color: #2d3748;
    position: relative;
}

.showCurrentRoundImg {
    width: 25rem;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: slideInAndOut 3s ease-in-out forwards;
}

.fadeOut {
    animation: fadeOut 1s ease-in-out forwards;
}

@keyframes slideInAndOut {
    0% {
        transform: translate(100%, -50%);
        opacity: 0;
    }
    20% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    35% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1);
    }
    65% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    80% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100% {
        transform: translate(-250%, -50%);
        opacity: 0;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }
}
