@use '../../../styles/_variables' as v;
@use '../../../styles/_mixins' as m;

.outerContainer {
    width: 100%;
    height: 100%;
    /* background-color: green; */
}

.buttonColumn {
    width: 100%;
    border-radius: v.$radius-xl;
    background: v.$color-surface-dark-65;
    box-shadow: 0 8px 32px v.$shadow-sm;
    padding: 2.5rem 1.5rem;
    @include m.flex-column;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 5rem;
}

.buttonContainer {
    width: 100%;
    @include m.flex-center;

    button {
        width: 100%;
        color: #e1ebf7;
        border: none;
        border-radius: v.$radius-lg;
        padding: 20px 0;
        font-size: v.$font-size-xl;
        font-weight: 700;
        font-family: v.$font-family-primary;
        cursor: pointer;
        transition: all 0.2s;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.13);
        letter-spacing: 1.5px;
        @include m.text-shadow-button;
    }
}

.createRoomBtn {
    background: linear-gradient(135deg, #26ac5e, #1e8649);
}

.joinRoomBtn {
    background: linear-gradient(135deg, #27b1b6, #2997b9);
}

.playVsBotBtn {
    background: linear-gradient(135deg, #e2942f, #e24d28);
}
