@use '../../styles/_variables' as v;
@use '../../styles/_mixins' as m;

.outerContainer {
    @include m.flex-column;
    width: 100%;
    flex: 1 1 auto;
    min-height: 0;
    box-sizing: border-box;
}

.headerSection,
.imageSection,
.instructionsSection {
    width: 100%;
    @include m.flex-center;
    min-height: 0;
    min-width: 0;
    /* overflow: hidden; */
    box-sizing: border-box;
    object-fit: contain;
}

.headerSection {
    flex: 0.8 1 0%;
}

.imageSection {
    flex: 3.2 1 0%;
}

.instructionsSection {
    flex: 2 1 0%;
}

.instructionHeader {
    font-family: v.$font-family-primary;
    font-size: v.$font-size-3xl;
    color: v.$color-white;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5);
    text-wrap: nowrap;
}

.instructionImage {
    box-sizing: border-box;
    max-height: 95%;
    width: auto;
    height: auto;
    border: 0.6rem solid v.$color-black;
    border-radius: v.$radius-lg;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2), 0 40px 80px rgba(0, 0, 0, 0.15),
        0 8px 16px rgba(0, 0, 0, 0.1);
}

.instructionsList {
    font-family: v.$font-family-primary;
    font-weight: 300;
    letter-spacing: 0.25px;
    @include m.flex-column;
    gap: 0.5rem;
    font-size: 1.5rem;
    color: v.$color-white;
    text-align: left;
    padding-left: 3.5rem;
    padding-right: 2rem;
}
