@use '../../styles/_variables' as v;
@use '../../styles/_mixins' as m;

.outerContainer {
    width: 100%;
    height: 100%;
    @include m.flex-column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(0deg, #362626 0%, #5c348d 100%);
}

.embla {
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-grow: 1;
}

.embla__container {
    @include m.flex-row;
    height: 100%;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    height: 100%;
    @include m.flex-row;
}

.footer {
    position: relative;
    @include m.flex-row;
    height: 5rem;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;
}

.backButton {
    position: absolute;
    right: 1rem;
    font-family: v.$font-family-primary;
    font-weight: 600;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: v.$radius-md;
    font-size: 1.2rem;
    background-color: #ef833a;
    color: v.$color-white;
    padding: 0.75rem 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    &.glow {
        animation: glow-animation 1.5s infinite alternate;
    }
}

.embla__dots {
    position: absolute;
    left: 3rem;
    /* display: flex; */
    gap: 0.5rem;
    display: hidden;
}

.embla__dot {
    background-color: transparent;
    cursor: pointer;
    position: relative;
    padding: 0;
    outline: 0;
    border: 0;
    width: 1.5rem;
    height: 1.5rem;

    &:after {
        background-color: v.$color-white;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: width 0.2s, height 0.2s;
    }

    &--selected:after {
        width: 0.8rem;
        height: 0.8rem;
    }
}

@keyframes glow-animation {
    from {
        box-shadow: 0 0 5px #f5b969, 0 0 10px #f5b969, 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    to {
        box-shadow: 0 0 20px #f5b969, 0 0 30px #f5b969, 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}
