.screenWipeContainer {
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, #4a5568 0%, #2d3748 100%);
    transform-origin: top left;
    animation-fill-mode: forwards;
    z-index: 10;
    top: -100vh;
}

.wipeOutActive {
    animation-name: wipe-out-animation;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}

.wipeInActive {
    animation-name: wipe-in-animation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
}

@keyframes wipe-out-animation {
    0% {
        transform: rotate(45deg) scale(0);
    }
    100% {
        transform: rotate(45deg) scale(10);
    }
}

@keyframes wipe-in-animation {
    0% {
        transform: rotate(45deg) scale(10);
    }
    100% {
        transform: rotate(45deg) scale(0);
    }
}
